@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    outline: none;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1em;
    line-height: 135%;
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
}
a {
    color: #3d529d;
    text-decoration: none;
}
a:hover {
    color: #efdea0;
}
a, a:hover {
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}
.clear {
    clear: both;
}
header {
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-bottom: 2px solid silver;
    margin-bottom: 20px;
}
header #logo {
    width: 20%;
    float: left;
}
header #logo a {
    color: #939393;
    font-size: 2em;
    font-family: "Times New Roman", sans-serif;
}
header #logo span {
    color: #283041;
}
header #menuHead {
    width: 44%;
    float: left;
}
header #menuHead div {
    float: left;
    padding: 5px;
    background-color: #c8c8c8;
    border-radius: 5px;
    color: #ffffff;
}
header #menuHead div:hover {
    background-color: #e7e7e7;
}
header #regAuth {
    width: 30%;
    float: left;
    text-align: right;
    font-size: 1.6em;
}
#wrapper {
    width: 80%;
    margin-left: 10%;
    float: left;
}
#wrapper #leftColumn {
    width: 70%;
    margin-right: 10%;
    float: left;
}
#wrapper #leftColumn #bigArticle {
    width: 78%;
    margin-left: 10%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;
}
#wrapper #leftColumn #bigArticle img, #wrapper #leftColumn .article img {
    width: 60%;
    float: top;
    margin-bottom: 10px;
}
#wrapper #leftColumn #bigArticle h2, #wrapper #leftColumn .article h2 {
    font-weight: normal;
    font-size: 1.4em;
}
#wrapper #leftColumn #bigArticle p, #wrapper #leftColumn .article p {
    width: 90%;
    margin-left: 5%;
}
#wrapper #leftColumn #bigArticle div, #wrapper #leftColumn .article div {
    padding: 5px;
    border-radius: 5px;
    background-color: #878787;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#wrapper #leftColumn #bigArticle div:hover, #wrapper #leftColumn .article div:hover{
    background-color: #a2a2a2;
}
#wrapper #leftColumn .article{
    width: 40%;
    margin-left: 5%;
    background-color: #f6f6f6;
    padding: 1%;
    float: left;
}
#wrapper #leftColumn input {
    width: 40%;
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
#wrapper #leftColumn textarea {
    width: 50%;
    height: 150px;
    margin-left: 25%;
    float: left;
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
    resize: none;
}
#wrapper #rightColumn {
    width: 20%;
    float: right;
}
#wrapper #leftColumn .article div {
    width: 20%;
}
#wrapper #rightColumn .banner {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border: 2px solid silver;
    box-sizing: border-box;
}
/* Дальше стилі для футера KEKW */
footer {
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #fafafa;
    border-top: 2px solid  silver;
    margin-top: 10px;
}
footer #social {
    float: left;
    width: 50%;
}
footer #social img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
footer #rights {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 1.1em;
}

.button{
    border: solid 1px #f5d920;
    background: #204bf5;
    background: -webkit-gradient(linear, left top, left bottom, from(#1a38fa), to(#f5d920));
    background: -moz-linear-gradient(top,  #faa51a, #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius:4px;
    moz-border-radius:4px;
    border-radius:4px;
    cursor: pointer;
}

.button:hover{
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#a80808));
    background: -moz-linear-gradient(top,  #f88e11, #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.error {
    margin-bottom: 10px;
    border: 1px solid #777;
    padding: 3px;
    color: #fff;
    text-align: center;
    width: 352px;
    background: #204bf5;
}